page-signup {

  .link-button {
    position: absolute;
    bottom: 0;
    font-weight: 700;
    font-size: 1.2em;
    line-height: 1.5;
    height : 60px;
  }

  .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color:#FFF;
  }
}
