page-coupon-detail {

  .link-button {
    position: absolute;
    bottom: 0;
    font-weight: 700;
    font-size: 1.2em;
    line-height: 1.5;
    height : 60px;
  }

  .ion-title-table {
    //margin-left:60px;
  }

  .toolbar-background {
    background-color: #15258F;
  }

  .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color:#FFF;
  }

  .coupon-box {
    background-color:#FFF;margin:auto;margin-top:5px;margin-bottom:5px;border-radius: 10px;-webkit-border-radius: 10px;-moz-border-radius: 10px;   /* Firefox用 */
  }
}
