page-home {
  .toolbar-background {
    background-color: #15258F;
  }

  .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color:#FFF;
  }


  .toolbar-title-ios {
    color:#FFF;
  }


  .toolbar-title {
    color:#FFF;
  }


  .toolbar-ios ion-title {
    position: relative;

  }

  .ion-title-table {
    width:100%;
  }

}
